<?xml version="1.0" encoding="UTF-8"?>
<suite name="CrossBrowserTest" parallel="test" threadCount="10">
    <test name="ChromeTest" parallel="calass">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="online.qastudy.automationpractice.ShopTest"/>
        </classes>
    </test>
    <test name="FirefoxTest" parallel="calass">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="online.qastudy.automationpractice.RegistrationTest"/>
        </classes>
    </test>
</suite>